body {
  margin : 0;
}

div {
  margin : 0;
}
.one {
  display:inline-block;
  background-color: blue;
  width: 33%;
  height: 800px;
}

.two {
  display:inline-block;
  background-color: green;
  width: 33%;
  height: 800px;

}
.three {
  display:inline-block;
  width: 33%;
  height: 800px;

}
.four {
  display:inline-block;
  width: 100%;
  height: 70%;
  background-color: yellow;
}

.five {
  display: inline-block;
  width: 100%;
  height: 30%;
  background-color: red;
}
